{% extends "theme::layouts/default" %}

{% block content %}
    {% include "theme::partials/breadcrumbs" %}
    <section class="section">
    	<div class="container">
    		<div class="row">
    			<div class="teacher-list">
    				
    				{{dd(teachers)}}		
					<ul>
					{% for teacher in teachers %}
						<li class="col-md-4">
							<div class="teacher-content-list">
								<div class="our-team-image">
									<div class="wrap-image bg-color-primary">
										{{ teacher.photo.make.class("").alt(brand.title).fit(270,240) | raw }}
									</div>
								</div>
								<div class="content-team">
									<h4>{{teacher.name}}</h4>
									<div class="regency">{{teacher.title}}</div>
								</div>
							</div>
						</li>
					{% endfor %}
					</ul>
    				{{ teachers.render|raw }}
    			</div>
    		</div>
    	</div>    	
    </section>
{% endblock %}