{% extends "theme::layouts/default" %}

{% block content %}
    {% include "theme::partials/breadcrumbs" %}
    <section class="portfolio-work">
        <div class="container">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="block">
        				<div class="portfolio-menu">
                            <ul>
                                <li class="filter mixitup-control-active" data-filter="all">
                                    Todos
                                </li>
                                {% for category in categories %}
                                    <li class="filter" data-filter=".{{ category.slug }}">
                                        {{ category.name }}
                                    </li>
                                {% endfor  %}
                            </ul>
                        </div>
                        <div class="portfolio-contant">
                            <ul class="portfolio-contant-active text-center" style="">

                            {% for lesson in lessons %}
                                {% set categoriesLessons = "" %}
                                {% for categoryLesson in lesson.categories %}
                                    {% set categoriesLessons = categoriesLessons ~' '~ categoryLesson.slug %}
                                {% endfor %}
                                <li class="mix {{ categoriesLessons }}">
                                    <a class="sb-preview-img" href="{{ lesson.route('view') }}">
                                        {{ lesson.photo.make.class("card-img-top").alt(lesson.title).fit(300,300) | raw }}
                                        <div class="item-overly">
                                            <div class="position-center">
                                                <h4>{{ lesson.title }}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
        			</div>
        		</div>
        	</div>
        </div>
    </section>
{% endblock %}