{% extends "theme::layouts/default" %}

{% block content %}
    {% include "theme::partials/breadcrumbs" %}
    <section class="portfolio-work">
        <div class="container">
            {% set lessons = entries('lessons').paginate() %}
        	<div class="row">
        		<div class="col-md-12">
        			<div class="block">
        				<div class="portfolio-menu">
                            <ul>
                                <li class="filter mixitup-control-active" data-filter="all">
                                    Todos
                                </li>
                                {% for category in categories %}
                                    <li class="filter" data-filter=".{{ category.slug }}">
                                        {{ category.name }}
                                    </li>
                                {% endfor  %}
                            </ul>
                        </div>
                        <div class="portfolio-contant">
                            {% for lesson in lessons %}
                                {% set categoriesLesson = "" %}
                                {% for categoryLesson in lesson.categories %}
                                    {% set categoriesLesson = categoriesLesson ~' '~ categoryLesson.slug %}
                                {% endfor %}

                                <div class="food mix {{categoriesLesson}}">
                                    <div class="cover" style="background-image: url('{{ lesson.photo.url }}')">
                                        <label>
                                            <i class=" fa fa-graduation-cap"></i>
                                            <font>{{ lesson.title }}</font>
                                        </label>

                                    </div>
                                    <div class="info">
                                        <a href="{{ lesson.route('view') }}" class="recipe">
                                            <i class="fa fa-calendar-check-o fa-3x">
                                            </i>
                                            <font>Detalles</font>
                                        </a>
                                        <div class="content">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="left" valign="middle" class="pad-right" rowspan="2" colspan="2">
                                                        <i class="fa fa-map-marker"></i>
                                                        {{ lesson.place }}
                                                        <br/>
                                                        <i class="fa fa-calendar"></i>
                                                        {{ lesson.datelecture.format('d/m/Y h:i:s A') }}
                                                    </td>

                                                    <td width="20" rowspan="2" class="border-right"> </td>
                                                    <td width="140" rowspan="2" align="center" valign="top">
                                                        <small>{{ lesson.teachers.name }}</small>
                                                        <br/>
                                                        <img src="{{ lesson.teachers.photo.url }}" width="80px" height="80px" />
                                                        <br/>
                                                        <small>{{ lesson.teachers.title }}</small>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                        <!--<div class="portfolio-contant">
                            <ul class="portfolio-contant-active text-center" style="">

                            {% for lesson in lessons %}
                                {% set categoriesLessons = "" %}
                                {% for categoryLesson in lesson.categories %}
                                    {% set categoriesLessons = categoriesLessons ~' '~ categoryLesson.slug %}
                                {% endfor %}
                                <li class="mix {{ categoriesLessons }}">
                                    <a class="sb-preview-img" href="{{ lesson.route('view') }}">
                                        {{ lesson.photo.make.class("card-img-top").alt(lesson.title).fit(300,300) | raw }}
                                        <div class="item-overly">
                                            <div class="position-center">
                                                <h4>{{ lesson.title }}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        -->
        			</div>
        		</div>
        	</div>
            {{ lessons.render|raw }}
        </div>
    </section>
{% endblock %}