{% extends "theme::layouts/default" %}

{% block content %}
    {% include "theme::partials/breadcrumbs" %}
    <section class="portfolio-work">
        <div class="container">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="block">
        				<div class="portfolio-menu">
                            <ul>
                                <li class="filter mixitup-control-active" data-filter="all">
                                    Todos
                                </li>
                                {% for category in model.categories %}
                                    <li class="filter" data-filter=".{{ category.slug }}">
                                        {{ category.name }}
                                    </li>
                                {% endfor  %}
                            </ul>
                        </div>
                        <div class="portfolio-contant">
                        	<div class="row form-group">
                        	{% for album in model.albums %}

							        <div class="col-xs-6 col-md-4">
                                        <a href="{{ album.route('view')  }}">
                                            <div class="panel panel-default">
                                                {% set image = random(album.gallery) %}
                                                <div class="cover_panel panel-image" style="background-image: url('{{ image.url }}');">
                                                    <label for="toggle-4"></label>
                                                </div>
                                                <div class="panel-body">
                                                    <h4>{{album.title}}</h4>
                                                    <p>{{album.description|length > 140 ? album.description|slice(0,140) ~ '...' : album.description}}</p>
                                                </div>
                                                <!--
                                                <div class="panel-footer text-center">
                                                    <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                                                    <a href="#facebook"><span class="fa fa-facebook"></span></a>
                                                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                                                    <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                                                </div>
                                                -->
                                            </div>
                                        </a>
							        </div>

                        	{% endfor %}
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}